<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">
    <!-- ===================================2=2=2=2=2=========================================-->
    <uses-feature android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <!--================ 카메라의 제어, 저장소 접근 허용을 위해 꼭 넣어야된다.===2=2=2=2=2=======================-->
    <!--=======================================4=4=4=4==4=================================== -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--================jsp로 정보를 전달하기 위해서 넣어야 하는 부분=========4=4=4=4=4==========-->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- ===============다음은 새로운 액티비티를 추가 할 때 마다 넣어야한다.======1=1=1=1=1===== -->
        <activity android:name=".MainmenuActivity" android:label="로그인화면가기"/> <!--  첫번째 java 넣으면 꼭 넣어줘야됨-->
        <activity android:name=".findmyid" android:label="아이디찾기"/> <!-- 두번째 java 넣으면 꼭 넣어줘야됨-->
        <activity android:name=".newUser" android:label="새로운회원가입"/>
        <activity android:name=".button1FUNC" android:label="출석부르기"/>
        <!--   ==========================1=1=1=1=1======================================     -->
    </application>

</manifest>